/* apply margin and padding to whole body*/
*{
	margin:0px;
	padding:0px;
}
/*adding a background image with given size specification*/
.bgimage{
	background-image: url('http://themes.semicolonweb.com/html/canvas/images/portfolio/full/2.jpg');
	background-size: 100% 100%;
	width: 100%;
	height: 100vh;
}
/*in menu lightening color using rgba where a is used to lighten the given color*/
.menu{

	width: 100%;
	height: 100px;
	background-color: rgba(0,0,0,0.5);
}

.leftmenu{
	width: 20%;
	line-height: 100px;
	float: left;
/*	background-color: yellow;*/
}

.leftmenu h4{
	padding-left: 70px;
	font-weight: bold;
	color: white;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
}


.rightmenu{
	width:70%;
	height: 100px;
	float: right;
/*	background-color: red; */
}

.rightmenu ul{
	margin-left: 200px;
}

.rightmenu ul li {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	list-style: none;
	font-size: 15px;
	color:white;
	font-weight: bold;
	line-height: 100px;
	margin-left: 40px;
	text-transform: uppercase;

}

#fisrtlist{
	color: orange;
}

.rightmenu ul li:hover{
	color: orange;
}


.text{
	width: 100%;
	margin-top: 185px;
	text-transform: uppercase;
	text-align: center;
	color:black;
}

.text h4{

	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.text h1{
	font-size:62px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700px;
	margin:14px 0px;
}

.text h3{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
.wrap{
	padding-top: 40px;
	padding-bottom: 5px;
}
H3{
	margin: 5px;
	text-align: center;
}
.section
{
	padding:10px;
}
.header
{
	position:sticky;
	top:0;
}
.footer-main{
	width:100%;
	height:auto;
	margin:auto;
	background: #222020;
	padding: 20px 0px;
}
.footer-icon{
	width:100%;
	height:auto;
	margin:auto;
}
.footer-icon ul{
	margin:0px;
	padding:0px;
	text-align:center;
}
.footer-icon ul li{
	display:inline-block;
	width:50px;
	height:50px;
	margin:0px 10px;
	border-radius:100%;
	background:#e2dbdb;
}
.footer-icon ul li a{
	color:#222020;
	font-size: 20px;
	display: block;
}
.footer-icon ul li a i{
	line-height: 50px;
}
.footer-menu1
{
	width:100%;
	height:auto;
	margin:auto;
	margin-top: 30px;
}
.footer-menu1 ul{
margin:0px;
padding:0px;
text-align:center;
}
.footer-menu1 ul li{
	display:inline-block;
	margin: 0px 20px;
}
.footer-menu1 ul li a{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 600;
	color:#e2dbdb;
	text-transform: uppercase;
	text-decoration: none;
}
.footer-menu2
{
	width:100%;
	height:auto;
	margin:auto;
	margin-top: 20px;
}
.footer-menu2 ul{
margin:0px;
padding:0px;
text-align:center;
}
.footer-menu2 ul li{
	display:inline-block;
	margin: 0px 20px;
}
.footer-menu2 ul li a{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 600;
	color:#e2dbdb;
	text-transform: uppercase;
	text-decoration: none;
}
.footer-menu2 ul li a:hover{
color:#5ed3d3;
}
.footer-bottom{
	width:100%;
	height:auto;
	margin:auto;
	background: #914343;
	padding:10px;
}
.footer-bottom p{
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	text-align: center;
	font-weight: 600;
	letter-spacing: 1px;
}
.footer-bottom p a{
	text-decoration-color: beige;
	text-decoration: none;
	color: beige;
}
.footer-bottom p a:hover{
	color: aqua;
}
/*using it to use data as flex row*/
.wrapper{
	display:flex;
	flex-direction: column;
}
 .box1{
	background-color: aqua;
	margin-top: 5px;
}
.box2{
	background-color:#e9e64c;
	margin-top: 5px;
}
.box3{
	background-color: rgb(238, 116, 187);
	margin-top: 5px;
}
